<app-navbar></app-navbar>
<div class="profile-page">
  <div class="container">
    <aside class="sidebar">
      <div class="profile-info">
        <img src="https://static.vecteezy.com/system/resources/thumbnails/001/840/612/small_2x/picture-profile-icon-male-icon-human-or-people-sign-and-symbol-free-vector.jpg" alt="Profile Picture" class="profile-image">
        <h1>{{ user.firstName }} {{ user.lastName }}</h1>
        <p><strong>{{ 'PROFILE.EMAIL' | translate }}:</strong> {{ user.email }}</p>
        <p><strong>{{ 'PROFILE.AGE' | translate }}:</strong> {{ user.age }}</p>
        <p><strong>{{ 'PROFILE.GENDER' | translate }}:</strong> {{ user.gender | uppercase | translate }}</p>
      </div>
    </aside>
    <main>
      <section class="user-posts">
        <h2 *ngIf="posts.length > 0">{{ 'PROFILE.ALL_POSTS' | translate }}</h2>
        <h2 *ngIf="posts.length === 0">{{ 'PROFILE.NO_POSTS_AVAILABLE' | translate }}</h2>
        <div class="add-post">
          <textarea [(ngModel)]="newPost" placeholder="{{ 'PROFILE.WRITE_NEW_POST' | translate }}"></textarea>
          <button (click)="addPost()">{{ 'PROFILE.POST' | translate }}</button>
        </div>
        <div class="post-container" *ngFor="let post of posts">
          <div class="post-header">
            <img [src]="post.user.profileImage || 'https://static.vecteezy.com/system/resources/thumbnails/001/840/612/small_2x/picture-profile-icon-male-icon-human-or-people-sign-and-symbol-free-vector.jpg'" alt="Profile">
            <div>
              <strong>{{ post.userName }}</strong>
              <p>{{ post.createdAt }}</p> <!-- Display "x time ago" -->
            </div>
          </div>
          <div class="post-content">
            {{ post.body }}
          </div>
          <div class="post-actions">
            <button (click)="toggleComments(post.id)">💬 {{ 'PROFILE.COMMENTS' | translate }}</button>
            <button (click)="confirmDeletePost(post)">🗑️ {{ 'PROFILE.DELETE' | translate }}</button>
          </div>
          <div class="comments" *ngIf="showComments[post.id]">
            <div *ngFor="let comment of comments[post.id]" class="comment-box">
              <p><strong>{{ comment.author }}</strong>: {{ comment.content }}</p>
              <p>{{ comment.createdAt }}</p> <!-- Display "x time ago" -->
              <button (click)="confirmDeleteComment(comment)">
                <i class="bi bi-trash3"></i>
              </button>
            </div>
            <div class="add-comment">
              <input type="text" [(ngModel)]="newComment[post.id]" placeholder="{{ 'PROFILE.ADD_COMMENT' | translate }}">
              <button (click)="addComment(post.id)">{{ 'PROFILE.POST' | translate }}</button>
            </div>
          </div>
        </div>
        <div class="modal delete-confirmation-modal" [ngClass]="{'show': isDeleteConfirmationVisible && postToDelete}">
          <div class="modal-content">
            <h3>{{ 'PROFILE.CONFIRM_DELETE' | translate }}</h3>
            <span class="close" (click)="cancelDeletePost()">&times;</span>
            <p>{{ 'PROFILE.CONFIRM_DELETE_POST' | translate }}</p>
            <button class="btn btn-danger" (click)="deletePost(postToDelete?.id)">{{ 'PROFILE.DELETE' | translate }}</button>
            <button class="btn btn-secondary" (click)="cancelDeletePost()">{{ 'PROFILE.CANCEL' | translate }}</button>
          </div>
        </div>
        <div class="modal delete-confirmation-modal" [ngClass]="{'show': isDeleteConfirmationVisible && commentToDelete}">
          <div class="modal-content">
            <h3>{{ 'PROFILE.CONFIRM_DELETE' | translate }}</h3>
            <span class="close" (click)="cancelDeleteComment()">&times;</span>
            <p>{{ 'PROFILE.CONFIRM_DELETE_COMMENT' | translate }}</p>
            <button class="btn btn-danger" (click)="deleteComment(commentToDelete?.postId, commentToDelete?.id)">{{ 'PROFILE.DELETE' | translate }}</button>
            <button class="btn btn-secondary" (click)="cancelDeleteComment()">{{ 'PROFILE.CANCEL' | translate }}</button>
          </div>
        </div>
      </section>
    </main>
  </div>
</div>