html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Arial', sans-serif;
  background-color: #f0f4f8; // Sfondo generale della pagina
}

.login-page .content {
  margin-top: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  .nav-link {
    color: rgba(255, 255, 255, 0.75);
    &:hover {
      color: rgba(255, 255, 255, 1);
    }
  }
  .btn-outline-light {
    border-color: rgba(255, 255, 255, 0.75);
    color: rgba(255, 255, 255, 0.75);
    &:hover {
      border-color: rgba(255, 255, 255, 1);
      color: rgba(255, 255, 255, 1);
    }
  }
}

.form-control {
  border-radius: 20px; // Bordi rotondi
  background-color: #343a40; // Colore di sfondo uguale a quello della navbar
  color: white; // Colore del testo per contrastare lo sfondo scuro
  border: 1px solid rgba(255, 255, 255, 0.75); // Bordo bianco semi-trasparente
  &::placeholder {
    color: rgba(255, 255, 255, 0.75); // Colore del placeholder bianco semi-trasparente
  }
  &:focus {
    background-color: #343a40; // Mantieni lo sfondo scuro quando è in focus
    color: white; // Mantieni il colore del testo bianco
    border-color: rgba(255, 255, 255, 1); // Bordo bianco pieno quando è in focus
    box-shadow: none; // Rimuovi l'ombra del box
  }
}