<header class="p-3 bg-dark text-white w-100 d-none d-lg-block">
  <div class="container-fluid">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a routerLink="/users" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
      </a>
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a routerLink="/users" class="nav-link px-2 text-white">CityLife</a></li>
        <li><a routerLink="/users" class="nav-link px-2 text-secondary">Home</a></li>
        <li><a routerLink="/posts" class="nav-link px-2 text-secondary">Posts</a></li>
      </ul>
      <div class="text-end">
        <button type="button" class="btn btn-outline-light me-2" (click)="changeLanguage('en')">
          🇬🇧 EN
        </button>
        <button type="button" class="btn btn-outline-light me-2" (click)="changeLanguage('it')">
          🇮🇹 IT
        </button>
        <button type="button" class="btn btn-warning" (click)="logout()">{{ 'LOGOUT' | translate }}</button>
      </div>
    </div>
  </div>
</header>

<!-- Bottom Navigation Bar for Mobile -->
<nav class="bottom-nav d-lg-none">
  <a routerLink="/users" class="nav-link">
    <i class="bi bi-people-fill" style="font-size: 24px;" aria-label="Users"></i>
    <span>Home</span>
  </a>
  <a routerLink="/posts" class="nav-link">
    <i class="bi bi-pencil-square" style="font-size: 24px;" aria-label="Posts"></i>
    <span>Posts</span>
  </a>
  <a class="nav-link" (click)="logout()">
    <i class="bi bi-door-closed" style="font-size: 24px;" aria-label="Logout"></i>
    <span>Logout</span>
  </a>
</nav>