:host {
  display: block;
  font-family: Arial, sans-serif;
  background-color: #18191a;
  color: white;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

html, body {
  background-color: #18191a;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  height: 80%;
  justify-content: flex-start;
  align-items: center;
  background: rgba(24, 25, 26, 0.8);
  color: white;
  padding-top: 50px;
  margin-top: 50px;
  border-radius: 10px;
}

.search-bar {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 80px;
  width: 50%;
  max-width: 600px;
}
.search-bar input {
  margin-right: 10px;
  margin-left: 20px;
  width: 100%;
  border-radius: 20px;
  background-color: #343a40;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.75);
  padding: 10px 15px;
}
.search-bar input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.75);
}
.search-bar input::placeholder {
  color: rgba(255, 255, 255, 0.75);
}
.search-bar input:focus {
  background-color: #343a40;
  color: white;
  border-color: rgb(255, 255, 255);
  box-shadow: none;
}
.search-bar select {
  margin-left: 10px;
  padding: 10px;
  border-radius: 20px;
  background-color: #343a40;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.75);
}
.search-bar select:focus {
  background-color: #343a40;
  color: white;
  border-color: rgb(255, 255, 255);
  box-shadow: none;
}

.user-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  justify-content: center;
  margin-top: 40px;
}
.user-list img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.user-box {
  position: relative;
  background-color: #444;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.75);
  padding: 10px;
  border-radius: 10px;
  width: 200px;
  height: 200px;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s;
}
.user-box:hover {
  background-color: #555;
}

@media (max-width: 400px) {
  :host {
    height: 100vh;
    width: 100vw;
    padding: 10px;
    background-image: none;
  }
  .container {
    margin: 25px 0;
    padding: 10px;
  }
  .search-bar {
    width: 100%;
    margin-bottom: 10px;
  }
  .search-bar input, .search-bar select {
    width: 100%;
    margin: 5px 0;
  }
  .user-list {
    display: flex;
    flex-direction: column;
    gap: 0px;
    padding: 0 10px;
  }
  .user-box {
    display: grid;
    grid-auto-flow: column;
    align-items: flex-start;
    background-color: #303030;
    border: 1px solid rgba(22, 18, 18, 0.75);
    color: white;
    width: 100%;
    height: 80px;
    box-sizing: border-box;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .user-box:hover {
    background-color: #555;
  }
  .user-box img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: 14px;
    left: 20px;
  }
  .user-box .user-name {
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    top: 25px;
    left: 80px;
  }
}
@media (max-width: 768px) {
  .search-bar {
    width: 100%;
    margin-bottom: 10px;
  }
  .search-bar input {
    width: 70%;
    margin: 5px 0;
  }
  .search-bar select {
    width: 30%;
    margin: 5px 0;
  }
}/*# sourceMappingURL=users.component.css.map */