<app-navbar></app-navbar>
<div class="container">
  <div class="d-flex justify-content-between align-items-center">
    <h2>{{ 'USERS' | translate }}</h2>
  </div>
  <div class="search-bar">
    <input type="text" placeholder="{{ 'SEARCH_PLACEHOLDER' | translate }}" [(ngModel)]="searchTerm" (input)="searchUsers()">
    <select class="d-none d-md-block" [(ngModel)]="usersPerPage" (change)="updateUsersPerPage()">
      <option *ngFor="let option of usersPerPageOptions" [value]="option">{{ option }}</option>
    </select>
  </div>
  <div class="user-list">
    <ng-container *ngFor="let user of filteredUsers">
      <ng-container *ngIf="user.id !== loggedInUserId">
        <div class="user-box" (click)="viewUser(user.id)">
          <div class="status-indicator" [ngClass]="{'active': user.status === 'active', 'inactive': user.status === 'inactive'}"></div>
          <img src="https://static.vecteezy.com/system/resources/thumbnails/001/840/612/small_2x/picture-profile-icon-male-icon-human-or-people-sign-and-symbol-free-vector.jpg" alt="Profile Image">
          <span class="user-name">{{ user.firstName }} {{ user.lastName }}</span>
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>
