<div class="login-page">
  <img src="../../assets/imgs/logo.png" alt="CityLife" class="logo" />
  <div class="login-container">
    <div class="form-section">
      <div class="form-box">
        <header>
          <h1>{{ 'WELCOME' | translate }}</h1>
          <p>{{ 'ENTER_TOKEN' | translate }}</p>
        </header>
        <form (ngSubmit)="onSubmit()">
          <div class="input-group">
            <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
            <input type="text" id="token" [(ngModel)]="token" name="token" placeholder="{{ 'ENTER_TOKEN' | translate }}" />
          </div>
          <button type="submit" class="signin-btn">{{ 'SIGN_IN' | translate }}</button>
        </form>
        <footer>
          <p>{{ 'DONT_HAVE_A_TOKEN?' | translate }} <a href="https://gorest.co.in/consumer/login" target="_blank">{{ 'GET_HERE' | translate }}</a></p>
        </footer>
      </div>
      <div class="language-switcher">
        <button (click)="switchLanguage('en')">🇬🇧 EN</button>
        <button (click)="switchLanguage('it')">🇮🇹 IT</button>
      </div>
    </div>
    <div class="image-section">
      <img src="../../assets/imgs/loginwallpaper.gif" alt="Login Wallpaper" />
      <div class="overlay-text">
        <h2>{{ 'WELCOME_MESSAGE' | translate }}</h2>
      </div>
    </div>
  </div>
</div>