<div class="login-page">
  <img src="../../assets/imgs/logo.png" alt="CityLife" class="logo" />
  <div class="login-container">
    <div class="form-section">
      <div class="form-box">
        <header>
          <h1>{{ 'WELCOME' | translate }}</h1>
          <p>{{ 'ENTER_CREDENTIALS' | translate }}</p>
        </header>
        <form (ngSubmit)="onSubmit()">
          <div class="input-group">
            <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
            <input type="email" id="email" [(ngModel)]="email" name="email" placeholder="{{ 'ENTER_EMAIL' | translate }}" class="rounded-input" />
            <div style="margin-bottom: 10px;"></div> <!-- Add space between input boxes -->
            <input type="password" id="password" [(ngModel)]="password" name="password" placeholder="{{ 'ENTER_PASSWORD' | translate }}" class="rounded-input" />
          </div>
          <button type="submit" class="signin-btn">{{ 'SIGN_IN' | translate }}</button>
        </form>
        <footer>
          <p>{{ 'DONT_HAVE_AN_ACCOUNT?' | translate }} 
            <a href="/register">{{ 'REGISTER_HERE' | translate }}</a>
          </p>
        </footer>
      </div>
      <div class="language-switcher">
        <button (click)="switchLanguage('en')">🇬🇧 EN</button>
        <button (click)="switchLanguage('it')">🇮🇹 IT</button>
      </div>
    </div>
    <div class="image-section">
      <img src="../../assets/imgs/loginwallpaper.gif" alt="Login Wallpaper" />
      <div class="overlay-text">
        <h2>{{ 'WELCOME_MESSAGE' | translate }}</h2>
      </div>
    </div>
  </div>
</div>