<app-navbar></app-navbar>
<div class="container" style="display: flex; flex-direction: column;">
  <h2>{{ 'ALL_POSTS' | translate }}</h2>
  <div class="search-bar">
    <input type="text" placeholder="{{ 'SEARCH_POSTS' | translate }}" [(ngModel)]="searchTerm" (input)="searchPosts()">
    <select [(ngModel)]="postsPerPage" (change)="updatePostsPerPage()">
      <option *ngFor="let option of postsPerPageOptions" [value]="option">{{ option }}</option>
    </select>
  </div>
  <div class="add-post">
    <textarea [(ngModel)]="newPost" placeholder="{{ 'WRITE_NEW_POST' | translate }}"></textarea>
    <button (click)="addPost()">{{ 'POST' | translate }}</button>
  </div>
  <div class="post-container" *ngFor="let post of filteredPosts">
    <div class="post-header">
      <img src="https://static.vecteezy.com/system/resources/thumbnails/001/840/612/small_2x/picture-profile-icon-male-icon-human-or-people-sign-and-symbol-free-vector.jpg" alt="Profile">
      <div>
        <strong>{{ post.userName }}</strong>
      </div>
    </div>
    <div class="post-content">
      {{ post.body }}
    </div>
    <div class="post-actions">
      <button (click)="toggleComments(post.id)">💬 {{ 'COMMENTS' | translate }}</button>
      <button class="delete-button" (click)="confirmDeletePost(post.id)">🗑️ {{ 'DELETE' | translate }}</button>
    </div>
    <div class="comments" *ngIf="showComments[post.id]">
      <div *ngFor="let comment of comments[post.id]" class="comment-box">
        <p><strong>{{ comment.name }}</strong>: {{ comment.body }}</p>
        <button (click)="confirmDeleteComment(post.id, comment.id)">
          <i class="bi bi-trash3-fill"></i>
        </button>
      </div>
      <div class="add-comment">
        <input type="text" [(ngModel)]="newComment[post.id]" placeholder="{{ 'ADD_COMMENT' | translate }}">
        <button (click)="addComment(post.id)">{{ 'POST' | translate }}</button>
      </div>
    </div>
  </div>
  <div class="pagination-controls">
    <button (click)="previousPage()" [disabled]="currentPage === 1">{{ 'PREVIOUS' | translate }}</button>
    <span>{{ 'PAGE' | translate }} {{ currentPage }} {{ 'OF' | translate }} {{ totalPages }}</span>
    <button (click)="nextPage()" [disabled]="currentPage === totalPages">{{ 'NEXT' | translate }}</button>
  </div>
</div>
<div class="modal delete-confirmation-modal" [ngClass]="{'show': isDeleteConfirmationVisible}">
  <div class="modal-content">
    <h3>{{ 'CONFIRM_DELETE' | translate }}</h3>
    <span class="close" (click)="cancelDeletePost()">&times;</span>
    <p>{{ 'CONFIRM_DELETE_POST' | translate }}</p>
    <button class="btn btn-danger" (click)="deletePost()">{{ 'DELETE' | translate }}</button>
    <button class="btn btn-secondary" (click)="cancelDeletePost()">{{ 'CANCEL' | translate }}</button>
  </div>
</div>
<div class="modal delete-comment-confirmation-modal" [ngClass]="{'show': isDeleteCommentConfirmationVisible}">
  <div class="modal-content">
    <h3>{{ 'CONFIRM_DELETE' | translate }}</h3>
    <span class="close" (click)="cancelDeleteComment()">&times;</span>
    <p>{{ 'CONFIRM_DELETE_COMMENT' | translate }}</p>
    <button class="btn btn-danger" (click)="deleteComment()">{{ 'DELETE' | translate }}</button>
    <button class="btn btn-secondary" (click)="cancelDeleteComment()">{{ 'CANCEL' | translate }}</button>
  </div>
</div>