<div class="login-page">
  <img src="../../assets/imgs/logo.png" alt="CityLife" class="logo" />
  <div class="login-container">
    <div class="form-section">
      <div class="form-box">
        <header>
          <h1 class="title">{{ 'CREATE_NEW_ACCOUNT' | translate }}</h1>
          <p>{{ 'ENTER_DETAILS' | translate }}</p>
        </header>
        <form (ngSubmit)="onSubmit()">
          <div class="input-group">
            <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
            <div *ngIf="formError" class="error-message">{{ 'PLEASE_FILL_ALL_FIELDS' | translate }}</div>
            <div class="input-group">
              <input type="text" id="firstName" [(ngModel)]="firstName" name="firstName" placeholder="{{ 'ENTER_FIRST_NAME' | translate }}" class="rounded-input capitalize" (input)="checkFormValidity()" />
            </div>
            <div class="input-group">
              <input type="text" id="lastName" [(ngModel)]="lastName" name="lastName" placeholder="{{ 'ENTER_LAST_NAME' | translate }}" class="rounded-input capitalize" (input)="checkFormValidity()" />
            </div>
            <div class="input-group">
              <input type="email" id="email" [(ngModel)]="email" name="email" placeholder="{{ 'ENTER_EMAIL' | translate }}" class="rounded-input" (input)="checkFormValidity()" />
            </div>
            <div class="input-group">
              <input type="text" id="username" [(ngModel)]="username" name="username" placeholder="{{ 'CREATE_USERNAME' | translate }}" class="rounded-input" (blur)="validateInput($event)" (input)="checkFormValidity()" />
            </div>
            <div class="input-group">
              <input type="password" id="password" [(ngModel)]="password" name="password" placeholder="{{ 'ENTER_PASSWORD' | translate }}" class="rounded-input" (input)="checkFormValidity()" />
            </div>
            <div class="input-group">
              <label for="gender">{{ 'GENDER' | translate }}:</label>
              <div class="gender-row">
                <label class="gender-option">
                  <input type="radio" [(ngModel)]="gender" name="gender" value="male" (change)="checkFormValidity()" />
                  <span>{{ 'MALE' | translate }}</span>
                </label>
                <label class="gender-option">
                  <input type="radio" [(ngModel)]="gender" name="gender" value="female" (change)="checkFormValidity()" />
                  <span>{{ 'FEMALE' | translate }}</span>
                </label>
                <label class="gender-option">
                  <input type="radio" [(ngModel)]="gender" name="gender" value="other" (change)="checkFormValidity()" />
                  <span>{{ 'OTHER' | translate }}</span>
                </label>
              </div>
            </div>
            <label for="age">{{ 'AGE' | translate }}:</label>
            <input type="number" id="age" [(ngModel)]="age" name="age" placeholder="{{ 'ENTER_AGE' | translate }}" min="0" class="rounded-input" (input)="checkFormValidity()" />
          </div>
          <button type="submit" class="signin-btn" [disabled]="!isFormValid">{{ 'REGISTER' | translate }}</button>
        </form>
        <footer>
          <p>{{ 'ALREADY_HAVE_AN_ACCOUNT' | translate }} 
            <a href="/login">{{ 'SIGN_IN_HERE' | translate }}</a>
          </p>
        </footer>
      </div>
      <div class="language-switcher">
        <button (click)="switchLanguage('en')">🇬🇧 EN</button>
        <button (click)="switchLanguage('it')">🇮🇹 IT</button>
      </div>
    </div>
    <div class="image-section">
      <img src="../../assets/imgs/loginwallpaper.gif" alt="Login Wallpaper" />
      <div class="overlay-text">
        <h2>{{ 'WELCOME_MESSAGE' | translate }}</h2>
      </div>
    </div>
  </div>
</div>

<!-- Popup for successful registration -->
<div *ngIf="showPopup" class="popup">
  <div class="popup-content">
    <h2>{{ 'REGISTRATION_COMPLETED' | translate }}</h2>
    <button (click)="goToLogin()">{{ 'GO_TO_LOGIN' | translate }}</button>
  </div>
</div>
